@model SampleMvcApp.ViewModels.Conductor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conductor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmisionLicencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmisionLicencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimientoLicencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimientoLicencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdConductor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
